# Fichiers et dossiers spécifiques au système Windows
/Application Data/
/Cookies/
/Documents/
/Local Settings/
/Menu Démarrer/
/Mes documents/
/Modèles/
/Recent/
/SendTo/
/Voisinage d'impression/
/Voisinage réseau/

# Autres fichiers et dossiers à ignorer
/*.log
/*.tmp
/.vscode/
/node_modules/
/dist/
